django-rest-framework
django-cors-headers
channels[daphne]
django-crontab
speedtest-cli
transformers
python-nmap
matplotlib
colorama
requests
werkzeug
networkx
traffic
pandas
getmac
django
torch
scapy
