<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.min.js"></script>
    <title>IP Report</title>
</head>
<body>
    <h1>IP Scan Report</h1>
    <!-- <script>
        function getUpdateIP() {
            $.ajax({url: "/scan_ip", success: function(result){
                var content = result;
                $("ul").html(content);
                setTimeout(getUpdateIP, 180000);
            }
            })
        }
        // $(document).ready(function(){
        //     getUpdateIP();
        // });
        getUpdateIP();
    </script> -->
    <ul>
        {% for ip in detect_ip %}
            <li>{{ ip }}</li>
        {% endfor %}
    </ul>
</body>
</html>